{% extends "layout.html" %}

{% block title %}
    Bookings
{% endblock %}

{% block script %}

<script type="text/javascript">
  $(document).ready(function() {

    $('#all_depts').change(function(){

      $.getJSON('/_booking_dropdown', {
        selected_dept: $('#all_depts').val()

      }).success(function(data) {
            $('#all_types').html(data.html_string_selected);
            $('#all_items').html(data.html_string_selected_item);
       })
    });

    $('#all_types').change(function(){

      $.getJSON('/_booking_item_dropdown', {
        selected_type: $('#all_types').val(),
        selected_dept: $('#all_depts').val()

      }).success(function(data) {
            $('#all_items').html(data.html_string_selected);
       })
    });
  });
</script>

<script>

$(document).ready(function(){
    $('#filtersubmit').prop('disabled',true);
    $('#filtertext').keyup(function(){
        $('#filtersubmit').prop('disabled', this.value == "" ? true : false);
    })
});
</script>

{% endblock %}

{% block main %}
<div class="container" role="alert" style="background-color: rgba(0, 150, 150, 0.5)">
  <div class="mb-2 row align-items-center">
  <div class="mb-0 mt-3 row">
  <div class="col">
<!-- Button trigger modal -->
<button type="button" class="mb-3 btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
  Add Booking
</button>
</div>
<div class="col">
<form action="/booking" method="post">
  <div class="input-group mb-3" style="width:250px">
    <div class="input-group-prepend">
      <button id="filtersubmit" class="btn btn-outline-info" type="submit">Filter</button>
      </div>
            <input autocomplete="off" id="filtertext" class="form-control" name="search" spellcheck="true" placeholder="Filter bookings..." type="text">
        </div>
    </form>
    </div>
    </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/addbooking" method="post">

        <!-- department -->
        <div class="input-group mb-3" style="width:250px">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Dept.</label>
          </div>
          <select name="dept" class="form-control" id="all_depts">
            {% for o in all_depts %}
                    <option value="{{ o }}">{{ o }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- type -->
        <div class="input-group mb-3" style="width:250px">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Type</label>
          </div>
          <select name="type" class="form-control" id="all_types">
            {% for o in all_types %}
                    <option value="{{ o }}">{{ o }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- item -->
        <div class="input-group mb-3" style="width:250px">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Item</label>
          </div>
          <select name="item" class="form-control" id="all_items">
            {% for o in all_items %}
                    <option value="{{ o }}">{{ o }}</option>
            {% endfor %}

          </select>
        </div>

        <!-- How many -->
        <div class="form-group">
        <input autocomplete="off"  class="form-control" name="howmany" spellcheck="true" placeholder="How Many?" style="width:250px" type="text" text-align="center">
        </div>

        <!-- venue -->
        <div class="input-group mb-3" style="width:250px">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Venue</label>
          </div>
          <select name="venue" class="custom-select" id="inputGroupSelect01">

            <option selected>{{ venueselect }}</option>
            {% for dict_item in venue %}
            {% for key, value in dict_item.items() %}
            <option>{{ value }}</option>
                              {% endfor %}
            {% endfor %}
          </select>
        </div>

        <!-- Event -->
        <div class="form-group">
        <input autocomplete="off" class="form-control" name="event" spellcheck="true" placeholder="Event" style="width:250px" type="text">
        </div>
        <!-- booker -->
        <div class="form-group">
        <input autocomplete="off" class="form-control" name="booker" spellcheck="true" placeholder="Booked by" style="width:250px" type="text">
        </div>

        <!-- Start date picker -->
        <div class="input-group mb-3" style="width:250px">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Start</label>
          </div>
          <input type="text" id="picker" class="form-control" name="start">
          </div>

          <!-- End date picker -->
          <div class="input-group mb-3" style="width:250px">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">End</label>
            </div>
            <input type="text" id="picker2" class="form-control" name="end">
            </div>

          <!-- Sumbit -->
        <button class="btn btn-info" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Booking table -->
<table class="table table-striped">
        <thead>
            <tr>
                <th hidden>ID</th>
                <th>Quantity</th>
                <th>Item</th>
                <th>From</th>
                <th>To</th>
                <th>Event</th>
                <th>Venue</th>

            </tr>
        </thead>

        <tbody>
                {% for dict_item in bookings %}
                <tr>
                        {% for i in range (1,7) %}
                        <td><a href="{{ url_for('bookinginfo', id=dict_item['id']) }}">
                        {{ dict_item[i] }}</a></td>
                        {% endfor %}
                </tr>
                {% endfor %}
        </tbody>
    </table>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="/static/jquery.datetimepicker.full.min.js"></script>
<script>
      $('#picker').datetimepicker({
        timepicker: true,
        datepicker: true,
        format: 'Y-m-d H:m:s',
        weeks: false,
        value: '2020-5-16 9:00:00',
        hours12: false,
        yearStart: 2020,
        step: 60,
        yearEnd: 2030,

      })
</script>
<script>
      $('#picker2').datetimepicker({
        timepicker: true,
        datepicker: true,
        format: 'Y-m-d H:m:s',
        weeks: false,
        value: '2020-5-16 9:00:00',
        hours12: false,
        yearStart: 2020,
        step: 60,
        yearEnd: 2030,

      })
</script>

{% endblock %}
